{% extends 'core/base.html' %} 
{% load static %} 
{% block title %}Resumen{%endblock %}
{% block content %}


<div class="container mt-5 text-center">
  <div class="row justify-content-center align-items-center">
    <!-- Primera fila -->
    <div class="col-md-2">
      <div class="card" style="width: 8rem;">
        <img class="card-img-top mx-auto mt-2"style="height: 5rem; width: 5rem;" src="{% static 'core/img/codigo-qr.png' %}" alt="Card image cap">
        <div class="card-body p-0">

          <a href="{% url 'qr_generator:qr_generate' %}"><h6 class="card-title mt-2">Generador QR</h6></a>
        </div>
      </div>
    </div>

    <div class="col-md-2">
      <div class="card" style="width: 8rem;">
        <img class="card-img-top mx-auto mt-2"style="height: 5rem; width: 5rem;" src="{% static 'core/img/calculator.svg' %}" alt="Card image cap">
        <div class="card-body p-0">

          <a href="{% url 'calculadora:calculadora' %}"><h6 class="card-title mt-2">Calculadora</h6></a>
        </div>
      </div>
    </div>

    <div class="col-md-2">
      <div class="card" style="width: 8rem;">
        <img class="card-img-top mx-auto mt-2"style="height: 5rem; width: 5rem;" src="././static/core/img/codigo-qr.png" alt="Card image cap">
        <div class="card-body p-0">

          <h6 class="card-title mt-2">Generador QR</h6>
        </div>
      </div>
    </div>


  </div>
    


  
{% endblock %}

